$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$retina-dppx: 1.5dppx;

$black: #000000;
$black-two: #111111;
$white: #ffffff;
$white-two: #f2f2f2;
$border-grey: #d9d9d9;
$border-btn: #bebebe;
$leaf: #68b738;
$grass: #5eaa2f;
$intro-green: #63a73a;
$white-two-two: #cecece;
$white-two-three: #ededed;
$white-two-four: #ebebeb;
$white-twoish-brown: #444444;
$very-light-pink-three: #cdcdcd;
$pinkish-grey-two: #bababa;
$error-input: #ff8282;
